*.egg-info
__pycache__
*.pyc
*.sw*
todo.txt
*.pdf
*.png
*.html

# vscode
settings.json
tags

# latex
*.aux
*.fdb_latexmk
*.fls
*.log
*.gz
*.bbl
*.blg
*.out
*.toc

# pytest
.pytest_cache

# cpp
build/
pybind11/

temp/
*.h5
play/
